OwnDocuments/Diagrams/Diagramme1.dia.autosave
.metadata/
RemoteSystemsTempFiles/*
.~*
.classpath
.settings

DemoWeb3j3_1/target

SXP/bin/
SXP/users.data/
SXP/.gradle/
SXP/.classpath
SXP/.project
SXP/.settings/
SXP/.peerFolder*/
SXP/SXPManager.xml
SXP/bootstrap.xml
SXP/build
SXP/.peer*
SXP/.db*
SXP/src/main/javascript/client/SXP*
SXP/logs/
SXP/simpleDb/
SXP/src/main/js/SXP-linux-x64/
SXP/src/main/js/node_modules/
SXP/certConfig.conf
SXP/keystore.jks
SXP/.cache*
SXP/derby.log
SXP/..gitignore.swp
